
/* .box{
  width: 10%;
  height: 10px;
  background: rgb(235, 235, 235);
  margin: 1px;
  box-sizing: border-box;
  font-size: 50px;
  padding: 100px;
} */
/* add responsive media queries */
@media screen and (max-width: 1200px) {
  .box{
    width: 40%;
  } 
}
@media screen and (max-width: 600px) {
  .box{
    width: 90%;
  } 
}
.col{
  margin: 2px;
  border: 2px solid rgb(131, 115, 115);
}
/* .container{
  background-color: rgb(245, 243, 240);
} */
p{
  text-align: center;
}